*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.reservation-form{
    background: rgba(226,19,209,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-container{
    display: grid;
    grid-template-columns: 420px;
}

/*
.form-img{
    background: url("../css/images/wm2.jpg") center/cover no-repeat;
}
*/


.reservation-form h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.form-content{
    background: rgba(0, 252, 239, 0.6);
    height: 500px;
}

form select, form input{
    font-size: 20px;
    font-family: "Roboto", Helvetica, sans serif;
    font-weight: 700;
}

form input[type = text], form input [type = number], form input::placeholder, select{
    color: #111010;
}

form input [type = submit] {
    color: rgb(123, 17, 223);
    background: #fff;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

form input [type = submit]:hover{
    opacity: 0.8;
}

@media(max-width:992px){
    .form-container{
        grid-template-columns: 100;
    }


    
}